### Java specific files ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### Frontend ###
# dependencies
ui/node_modules
ui/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
# testing
ui/coverage
# next.js
ui/.next/
ui/out/
# production
ui/build
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# vercel
.vercel
# typescript
*.tsbuildinfo
next-env.d.ts


### MacOS & misc ###
.DS_Store
*.pem


### Data ###
src/main/resources/data/*


### Credentials ###
.env
